*{
	list-style: none;
	padding: 0px;
	margin: 0px;
	text-decoration: none;
    box-sizing: border-box;
}
body{background: #252327}

.row h2 {
    color: #ffffff;
}
.contenedor{
	justify-content: flex-end;
}
/* HEADER --- MENUS */
.logo{
	margin-left: 35px;
}
.search-bar{
	width: 360px;
	height: 40px;
	margin-top: 40px;
	margin-right: 24px; 
	padding-left:10px; 
    background: white;
    border: none;
	font-size: 12pt;
	color: #63717f;
	float: right;
}


.imgHeader {
	width: 100%;
	height: 110px;
	background-image: url('https://thumbnailer.mixcloud.com/unsafe/1200x628/profile/3/4/b/9/616f-ea8f-4ad9-b20d-91c693c85f2f');
	background-size: 100%; 
}
.btns{
    flex-direction: row;
    display: flex;
	justify-content: center; 
	width: 100%;
    background: black;
}
.botones{
    width: 100%;
    height: 55px;
    justify-content: center;
    flex-wrap: nowrap;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 53px;
    align-items: center;
    text-align: center;
    color: white;
    cursor: pointer;
    background: black;
}
.botones:hover{
    color:rgb(24, 12, 12);
    background: #0c4d5d;
}

.custom-card{
	height: 400px;
	margin-bottom: 50px;
}
.card-group {
    background-color: #252327;
}
.custom-img{
	height: 250px;
	width: 200px;
}
.custom-title{
	height: 75px;
}
.custom-peli{
	width:50%;
	height:50%; 
}
.custom-category{
    padding: 5px; 
    background-color: black;
    color: white;
    
}
/* SLIDER */
.sliderMovie{
    width: 40%;
    display: block;
    margin: auto;
}
/* CATEGORYS */
.row {
    justify-content: center;
    text-align: center;  
    background-color: black;
    color: white;
    margin: 0%;
}
.row-category{
    /* justify-content: center;
    text-align: center; */
    padding: 5px; 
    background-color: black;
    color: white;
    
}
.custom-container{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    
}


/* FOOTER */
footer {
    background-image: url('https://thumbnailer.mixcloud.com/unsafe/1200x628/profile/3/4/b/9/616f-ea8f-4ad9-b20d-91c693c85f2f');
	background-size: 100%; 
    display: flex;
    justify-content: center;
    padding: 20px;
    color: #ffffff;
    text-align: center;
}
.social-icon {
    display: inline-flex;
    align-items: center;
    padding-right: 5px;
    margin: auto; 
}
footer p {
    text-align: center;
    padding-top: 20px;
    align-self: flex-end;
}
/* COLUMNAS FANDOM */
.columna {
    display: inline-block;
    width: 12.33%;
	margin: 1% 2% 1% 2%;
}
.colImg {
    border: 1px solid black;
    border-radius: 50%;
    background-color: black;
}
.category {
    padding: 1% 3%;
    background-color: #252327;
}
    
ul{
    margin-bottom: 0px !important;
}
