@import url('https://fonts.googleapis.com/css?family=Prompt|Roboto&display=swap');
*{
	list-style: none;
	padding: 0px;
	margin: 0px; 
	text-decoration: none;
    box-sizing: border-box;
}
body{
    background: #252327
}

.rowNew {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
   

    justify-content: center;
text-align: center;
color:
white;
margin: 0%;
    margin-right: 0%;
    margin-left: 0%;
background-color:
#252327;
}





.rowNew h2 {
    color: #ffffff;
}
.contenedor{
	justify-content: flex-end;
}
/* HEADER --- MENUS */
.logo{
	margin-left: 35px;
}
.search-bar{
	width: 360px;
	height: 40px;
	margin-top: 40px;
	margin-right: 24px; 
	padding-left:10px; 
    background: white;
    border: none;
	font-size: 12pt;
	color: #63717f;
	float: right;
}

.imgHeader {
	width: 100%;
	height: 110px;
	background-image: url('https://thumbnailer.mixcloud.com/unsafe/1200x628/profile/3/4/b/9/616f-ea8f-4ad9-b20d-91c693c85f2f');
	background-size: 100%; 
}
.btns{
    flex-direction: row;
    display: flex;
	justify-content: center; 
	width: 100%;
    background: black;
}
.botones{
    width: 100%;
    height: 55px;
    justify-content: center;
    flex-wrap: nowrap;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 53px;
    align-items: center;
    text-align: center;
    color: white;
    cursor: pointer;
    background: black;
    font-family: 'Prompt', sans-serif;
}
.botones:hover{
    color:rgb(24, 12, 12);
    background: #0c4d5d;
}

.custom-card{
	height: 400px;
    margin-bottom: 50px;
    color: black;
    background-color: #252327;
}

.simple-card{
    height: 240px;
    margin-bottom: 50px;
    color: black;
    background-color: #252327;  
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
    background-color: #252327;
    color: white;
    border: 1px solid #252327;
}
.card-group {
    background-color: #252327;
}
.custom-img{
	height: 250px;
	width: 200px;
}
.custom-title{
	height: 75px;
}
.custom-peli{
	width:50%;
	height:50%; 
}
.custom-category{
    padding: 5px; 
    color: white;
}
/* SLIDER */
.sliderMovie{
    width: 60%;
    display: block;
    margin: auto;
}
/* CATEGORYS */

.rowNew-category{
     /* justify-content: center;
    text-align: center; */
    padding: 5px;
    padding-left: 40px; 
    background-color: black; 
    color: white;
    font-family: 'Prompt', sans-serif;
}
.custom-container{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #252327;
}
/* FOOTER */
footer {
    background-image: url('https://thumbnailer.mixcloud.com/unsafe/1200x628/profile/3/4/b/9/616f-ea8f-4ad9-b20d-91c693c85f2f');
	background-size: 100%; 
    display: flex;
    justify-content: center;
    padding: 20px;
    color: #ffffff;
    text-align: center;
}
.social-icon {
    display: inline-flex;
    align-items: center;
    padding-right: 5px;
    margin: auto; 
}
footer p {
    text-align: center;
    padding-top: 20px;
    align-self: flex-end;
}
/* COLUMNAS FANDOM */
.columna {
    display: inline-block;
    width: 12.33%;
	margin: 1% 2% 1% 2%;
}
.colImg {
    border: 1px solid black;
    border-radius: 50%;
    background-color: black;
}
.category {
    padding: 3% 7%;
    background-color: #252327;
}
/* Seccion Noticias */
.custom-noticias{
    color: white;
    padding: 10px;
    margin-left: 60px;
}
.media-body{
    padding-left: 6%;
    line-height: 20px;
}
.img-noticias{
    width: 400px;
    height: 255px;
}
.fecha{
font-family: 'Prompt', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
color: #9AD8FB;
}
.titulo-noticias{
font-family: 'Roboto', sans-serif;    
font-style: normal;
font-weight: 500;
font-size: 23px;
line-height: 28px;
color: #F2F2F2;
}
.body-noticias{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    width: 87%;
    color: #F2F2F2;
    text-align: justify;
}
    
ul{
    margin-bottom: 0px !important;
}

